.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: lightblue;
  padding: 15px;
  gap: 15px;
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}